<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <% for (let i = 0; i < messages.length; i++) { %>
    <div class="message-container">
      <div class="message">
        <%= messages[i].user %> said "<%= messages[i].text %>"
      </div>
      <div class="date-added"><%=messages[i].added %></div>
    </div>
    <% } %>
    <a href="/">HOME</a>
    <a href="/new">NEW FORM</a>
  </body>
</html>
