<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/sidebar.ejs') %>
    <main>
      <h1><%= title %></h1>

      <ul>
        <% for (const book in bookinstance_list) { %> <% if
        (bookinstance_list.length === 0) {%>
        <li>There are no book copies in this library.</li>
        <%} else {%>
        <li>
          <a href="<%=bookinstance_list[book].url%>"
            ><%=bookinstance_list[book].book.title%> :
            <%=bookinstance_list[book].imprint%> -
          </a>
          <% if (bookinstance_list[book].status == 'Available') { %>
          <span class="text-success"><%=bookinstance_list[book].status%></span>
          <%} else if (bookinstance_list[book].status == 'Maintenance') {%>
          <span class="text-danger"><%=bookinstance_list[book].status%></span>

          <%} else {%>
          <span class="text-warning"><%=bookinstance_list[book].status%></span>

          <% } if (bookinstance_list[book].status != 'Available') { %>
          <span>(Due: <%=bookinstance_list[book].due_back_formatted%>)</span>
          <%}%>
        </li>
        <%}%> <% }%>
      </ul>
    </main>
  </body>
</html>
