<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/sidebar.ejs') %>
    <main>
      <h1><%= title %></h1>

      <ul>
        <% for (let i = 0; i < genre_list.length; i++) { %> <% if
        (genre_list.length === 0) {%>
        <li>There are no genres.</li>
        <%} else {%>
        <li>
          <a href="<%=genre_list[i].url%>"> <%=genre_list[i].name%> </a>
        </li>
        <%}%> <%}%>
      </ul>
    </main>
  </body>
</html>
